:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.70);
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    color: var(--slate);
    background: var(--white);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.title {
    color: var(--navyblue);
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header {
    border-bottom: 1px solid var(--cornflower);
}

.logo {
    color: var(--iris);

    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-text {
    color: var(--navyblue);
}

.nav-link {
    color: var(--navyblue);

    font-weight: 500;
}

.nav-link:hover, .nav-link:focus {
    color: var(--ocean);
}

.address {
    font-style: normal;
}

.address-link:hover, .address-link:focus {
    color: var(--ocean);
}

.hero{
    background-color: var(--navyblue);

    text-align: center;
}

.hero-title {
    color: var(--white);

    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.button {
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.64px;
    line-height: 1.5;
}

.hero-button {
    color: var(--white);
    background: var(--iris);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover, .hero-button:focus {
    background: var(--ocean);
    cursor: pointer;
}

.title-h3  {
    color: var(--navyblue);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.name {
    text-align: start;
}

.team {
    background-color: var(--cloud);
}

.footer {
    background-color: var(--navyblue);
    color: var(--cloud);
}

.footer-logo {
    color:var(--cloud);
}

.gallery-button {
    color: var(--iris);
    border: 1px solid var(--cornflower);
    background-color: var(--cloud);
}

.gallery-button:hover,.gallery-button:focus {
    color: var(--white);
    background-color: var(--ocean);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.list-item {
    background-color: var(--white);
}

.gallery-list-item {
    border: 1px solid var(--cornflower, #E7E9FC);
}
