
.gallery-list .info {
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.gallery-button {
    padding: 12px 24px;

    color: var(--iris);
    background-color: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-button:hover, .gallery-button:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-button-list {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
}

.gallery-list-item {
    max-width: 396px;
}


.gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.gallery-card {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-card:hover, .gallery-card:focus {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);;
}

.gallery-card-thumb {
    position: relative;
    overflow: hidden;
}

.gallery-card-info-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 32px;
    background: var(--iris);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--cloud);
}

.gallery-list-item:hover, .gallery-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.gallery-card:hover .gallery-card-info-text,
.gallery-card:focus .gallery-card-info-text {
    transform: translateY(0%);
}

.name {
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .gallery {
        padding: 48px 0;
    }
}

@media screen  and (min-width: 768px) and (max-width: 1157px) {
    .gallery {
        padding-top: 64px;
    }

    .gallery-list {
        row-gap: 72px;
    }

    .gallery-button-list {
        margin-bottom: 64px;
    }

    .gallery-list-item {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen  and (min-width: 768px) {
    .gallery-button-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }
}

@media screen  and  (min-width: 1158px) {
    .gallery {
        padding-top: 100px;
    }

    .gallery-button-list {
        margin-bottom: 72px;
    }

    .gallery-list-item {
        max-width: calc((100% - 48px) / 3);
    }

}